ANTHROPIC_API_KEY=ANTHROPIC_API_KEY
OPENAI_API_KEY=OPENAI_API_KEY
JUDGE_PROVIDER=JUDGE_PROVIDER
BETFAIR_APP_KEY=BETFAIR_APP_KEY
BETFAIR_KEY_PATH="./client-2048.key"
BETFAIR_CERT_PATH="./client-2048.crt"
BETFAIR_USERNAME=BETFAIR_USERNAME
BETFAIR_PASSWORD=BETFAIR_PASSWORD
JUDGE_COUNT=JUDGE_COUNT
NEXT_PUBLIC_SUPABASE_URL=NEXT_PUBLIC_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=NEXT_PUBLIC_SUPABASE_ANON_KEY
UNISWAP_PRIVATE_KEY=UNISWAP_PRIVATE_KEY
ALCHEMY_API_KEY=ALCHEMY_API_KEY